* {
  box-sizing: border-box;
}


h1 {
  font-family: 'Outfit', sans-serif;
  font-size: 50px;
  text-align: center;
}

h1 span {
    background-color: rgb(100,0,0);
    color: white;
}

:root {
  font-size: 30px;
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
}

button {
  background-color: red;
  color: white;
  list-style-type: none;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 10px;
  width: 250px;
}

button:hover {
  color: white;
  background-color: orange;
}

.pokemon-list {
  list-style: none;
   text-align: center;

}

li {
  padding: 10px;
}

.background {
  display: block;
}

.input-wrapper {
  width: 400px;
   margin: 0 auto;
   max-width: 60%
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

img {
   width: 25%;
   display: flex;
   margin: auto;
 }


.button, button, btn {
  background-color: white;
  border: solid 2px;
}

.close {
  width: 50%;
}

.center-list {
  justify-content: center;
  width: 100%;
}

 .background::after {
  content: "";
  background-image: url('https://images.unsplash.com/photo-1613771404784-3a5686aa2be3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1738&q=80');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

html,
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media (max-width: 991px) {
  body.custom-background {
    background-size: contain;
    background-position: center;
  }
}
